{% extends 'userhome.html' %}
{% block menu %}
{% endblock menu %}
{% block reservation %}
<style>
    body{
        padding-top: 0%;
        margin-top: 0%;
    }
    .mt-5, .my-5 {
    margin-top: 0rem !important;
    }
    img{
        border-radius: 7px;
    }
    .search-btn{
        height: 35px;
        border-radius: 7px;
    }
    #query{
        height: 35px;
        border-radius: 7px;
    }
    .message{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>
{% if messages %}
<div class="message" id="message">
{% for message in messages %}
{{message}}
{% endfor %}
</div>
{% endif %}
<div class="container-fluid my-5" style="padding-top: 10%; margin-top: 10%;">
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6 my-5 my-lg-0">
                    <div class="p-5">
                        <div class="mb-4">
                            <h1 class="display-3 text-primary"></h1>
                            <h1 class="text-white">Add Address <br/> For Home Delivery</h1>
                        </div>
                        <p class="text-white"></p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary
                                    mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary
                                    mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary
                                    mr-3"></i>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6" style="height: 600px;">
                    <div class="text-center p-5" style="background: rgba(51, 33,
                        29, .8);">
                        <h1 class="text-white mb-4 mt-5">Add Address</h1>
                        <form class="mb-5" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control bg-transparent border-primary p-4" name="State" maxlength="50" required="" placeholder="State" id="id_State">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control bg-transparent border-primary p-4" name="city" maxlength="50" placeholder="City" required="" id="id_city">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control bg-transparent border-primary p-4" name="pincode" placeholder="PIN" required="" id="id_pincode">
                            </div>
                            <div class="form-group">
                                <textarea name="address" class="form-control bg-transparent border-primary p-4" placeholder="Address"
                                    required=""
                                    id="id_address"></textarea>
                            </div>
                            <input type="hidden" name="q" value="">
                            <div>
                                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock reservation %}
