{% extends 'userhome.html' %}
{% block reservation_1 %}
<center>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ messages.tags }}"{% endif %} style="list-style: none;">{{message}}</li>
    {% endfor %}
    <ul>
    {% endif %}
</center>
<div class="container-fluid my-5">
    {% block reservation_2 %}
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6 my-5 my-lg-0">
                    <div class="p-5">
                        <div class="mb-4">
                            <h1 class="display-3 text-primary">30% OFF</h1>
                            <h1 class="text-white">For Online Reservation</h1>
                        </div>
                        <p class="text-white">Lorem justo clita erat lorem
                            labore ea, justo dolor lorem ipsum ut sed eos,
                            ipsum et dolor kasd sit ea justo. Erat justo sed sed
                            diam. Ea et erat ut sed diam sea</p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary
                                    mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary
                                    mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary
                                    mr-3"></i>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6" style="height: 600px;">
                    <div class="text-center p-5" style="background: rgba(51, 33,
                        29, .8);">
                        <h1 class="text-white mb-4 mt-5">Book Your Table</h1>
                        <form class="mb-5" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control bg-transparent border-primary p-4" name="State" maxlength="50" required="" placeholder="State" id="id_State">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control bg-transparent border-primary p-4" name="city" maxlength="50" placeholder="City" required="" id="id_city">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control bg-transparent border-primary p-4" name="pincode" placeholder="PIN" required="" id="id_pincode">
                            </div>
                            <div class="form-group">
                                <textarea name="address" class="form-control bg-transparent border-primary p-4" placeholder="Address"
                                    required=""
                                    id="id_address"></textarea>
                            </div>
                            <input type="hidden" name="q" value="">
                            <div>
                                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock reservation_2 %}
</div>

{% endblock reservation_1 %}
