{% extends 'userhome.html' %}
{% load static %}
{% block menu %}
<style>
    .dishesh{
        margin-left: 12px;
        display: flex;
        justify-content: center;
    }
    .dish-items{
        height: 250px;
        width: 250px;
        display: inline-block;
        margin: 20px;
        background-color: #e6e6e2;
        box-shadow: 0px 0px 5px #e4e1e1;
        border-radius: 10px;
    }
    .image{
        height: 150px;
        width: 200px;
        padding-top: 12px;
    }
    .details{
        margin-top: 5px;
        width: 100px;
        width: 250px;
    }
    .restau{
        margin-top: 10px;
        padding-top: 10px;
        color: brown;
    }
    .pricetag{
        margin-top: 3px;
        color: brown    
    }
    img{
        border-radius: 7px;
    }
    .heading{
        padding-left: 5%;
        width: 90%;
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
    }
    .filter{
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-items{
        margin-left: 25px;
    }
    #cart-item-photo{
        margin-right: 5px;
        
    } 
    .follow{
        display: flex;
        justify-content: center;
    }
    .follow-btn{
        background-color:#60b246;
        height: 50px;
        width: 135px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .unfollow-btn{
        background-color: rgb(202, 45, 45);
        height: 50px;
        width: 135px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .message{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>

<div class="heading">
    <div class="heading_2">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle"
            data-toggle="dropdown" style="color: black;">{{res.first.restaurant.restaurant_name}}</a>
            <div class="dropdown-menu text-capitalize">
                <div class="restaurant-image" style="display: flex; align-items:center; flex-direction: column;">
                    <img id="cart-item-photo" src="{{res.first.restaurant.photos.url}}" height="125px" width="125px">{{item}}
                </div> <br/>
                <div class="follow">
                    {% if follow == 'no' %}
                    <a href="/user/restaurantmenu/?pk={{pk}}&follow=yes">
                        <div class="follow-btn">
                            FOLLOW
                        </div></a>
                    {% elif follow %}
                    <a href="/user/restaurantmenu/?pk={{pk}}&follow=no">
                        <div class="unfollow-btn">
                            UN FOLLOW
                        </div></a>
                    {% else %}
                    <a href="/user/restaurantmenu/?pk={{pk}}&follow=yes">
                        <div class="follow-btn">
                            FOLLOW
                        </div></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="filter">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle"
                data-toggle="dropdown" style="color: black;">Price</a>
            <div class="dropdown-menu text-capitalize">
                <a href="/user/restaurantmenu/?price_filter=low&pk={{pk}}" class="dropdown-item">Low To High</a>
                <a href="/user/restaurantmenu/?price_filter=high&pk={{pk}}" class="dropdown-item">High to Low</a>
            </div>
        </div>
        <a href="{% url 'user:cart' %}">{{cart_items.count}}<img src="{% static 'img/cart.png' %}" height="25px" width="25px" alt=""></a>
    </div>
</div>
{% if messages %}
<div class="message" id="message">
{% for message in messages %}
{{message}}
{% endfor %}
</div>
{% endif %}
<div class="dishesh" style="padding-top: 10px;">   
{% for item in res %}
<div class="dish-items">
    <center><div class="image"><img src="{{item.photo.url}}" height="150px" width="150px" alt="{{item.name}}"></div></center>
    <div class="details">
       <div class="restau"> <center>{{item.name.title}}</center>
        <center><p class="pricetag"><form action="" method="post">{% csrf_token %}<input type="hidden" name="dish" value="{{item.id}}">
            {% if cart_items %}
            {% if item.restaurant.id == cart_items.last.dish.restaurant.id %}
            <input type="submit" value="ADD &#8377;{{item.price_set.all.first.price_of_dish}}">
            {% else %}
            <input type="text" value="" id="conf_{{item.id}}" name="confirmation" style="display: none;">
            <input type="submit" onclick="getConfirmation()" id="addei" value="ADD &#8377;{{item.price_set.all.first.price_of_dish}}">
            {% endif %}
            {% else %}
            <input type="submit" value="ADD &#8377;{{item.price_set.all.first.price_of_dish}}">
            {% endif %}
            </form></p></center>
        </div>
    </div>
</div>
{% endfor %}
</div>
<script>
    function getConfirmation(){
        if(confirm("Your cart items are from another restaurant. Would you like to reset your cart for adding items from this restaurant.")==true){
            {% for i in res %}
            document.getElementById('conf_{{i.id}}').value = "Yes"
            {% endfor %}
        }else{
            {% for i in res %}
            document.getElementById('conf_{{i.id}}').value = "No"
            {% endfor %}
        }
    }
</script>   
{% endblock menu %}
{% block footer %}
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Get In Touch</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p class="m-0"><i class="fa fa-envelope mr-2"></i>info@example.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Follow Us</h4>
                <p>Amet elitr vero magna sed ipsum sit kasd sea elitr lorem rebum</p>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://twitter.com/swiggycares" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.facebook.com/swiggy.in/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="https://www.linkedin.com/company/swiggy-in/?originalSubdomain=in" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square" href="https://www.instagram.com/swiggyindia/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Open Hours</h4>
                <div>
                    <h6 class="text-white text-uppercase">Monday - Friday</h6>
                    <p>{{res.first.restaurant.opening_time}} - {{res.first.restaurant.closing_time}}</p>
                    <h6 class="text-white text-uppercase">Saturday - Sunday</h6>
                    <p>2.00 PM - 8.00 PM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Newsletter</h4>
                <p>Amet elitr vero magna sed ipsum sit kasd sea elitr lorem rebum</p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
            <p class="mb-2 text-white">Copyright &copy; <a class="font-weight-bold" href="#">The Food Bag</a>. All Rights Reserved.</a></p>
        </div>
{% endblock footer %}