{% extends "index.html" %}
{% load static %}
{% block carousel_1 %}
{% endblock carousel_1 %}
{% block menu_1 %}
<style>
    .dishesh{
        margin-left: 12px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .dish-items{
        height: 250px;
        width: 250px;
        display: inline-block;
        margin: 20px;
        background-color: #e6e6e2;
        box-shadow: 0px 0px 5px #e4e1e1;
        border-radius: 10px;
    }
    .image{
        height: 150px;
        width: 200px;
        padding-top: 12px;
    }
    .details{
        margin-top: 5px;
        width: 100px;
        width: 250px;
    }
    .restau{
        margin-top: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: brown;
    }
    img{
        border-radius: 7px;
    }
    .search-btn{
        height: 35px;
        border-radius: 7px;
    }
    #query{
        height: 35px;
        border-radius: 7px;
    }
    .heading{
        padding-left: 5%;
        width: 90%;
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
    }
    .filter{
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<!-- {% if searched_items %}

<div class="dishesh">
    {% for item in searched_items %}
<a href="{% url 'user:restaurantmenu' item.restaurant.id %}">
<div class="dish-items">
    <center><div class="image"><img src="{{item.photo.url}}" height="150px" width="150px" alt="{{item.restaurant.restaurant_name}}"></div></center>
    <div class="details">
        <center><div class="restau">{{item.restaurant.restaurant_name}}</div></center>
    </div>
</div></a>
{% endfor %}
</div>

{% endif %} -->                
<div class="heading">
    <div class="heading_2">
        <h1>Our Restaurants</h1>
    </div>
    <div class="filter">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle"
                data-toggle="dropdown" style="color: black;">Filter By</a>
            <div class="dropdown-menu text-capitalize">
                <a href="/user/?filter_by=veg" class="dropdown-item">Veg</a>
                <a href="/user/?filter_by=non" class="dropdown-item">Non Veg</a>
                <a href="/user/?filter_by=break" class="dropdown-item">Break Fast</a>
                <a href="/user/?filter_by=starter" class="dropdown-item">Starter</a>
                <a href="/user/?filter_by=Fast" class="dropdown-item">Fast Food</a>
                <a href="/user/?filter_by=main" class="dropdown-item">Main Course</a>
                <a href="/user/?filter_by=Dessert" class="dropdown-item">Dessert</a>
            </div>
        </div>
    </div>
</div>
{% if final_res %}

<div class="dishesh" style="padding-top: 10px;">
    {% for item in final_res %}
<div class="dish-items">
<a href="/user/restaurantmenu/?pk={{item.id}}">
    <center><div class="image"><img src="{{item.dish_set.all.first.photo.url}}" height="150px" width="150px" alt="{{item.restaurant_name}}"></div></center>
    <div class="details">
        <center><div class="restau">{{item.restaurant_name}}</div></center>
    </div>
</a>
</div>
{% endfor %}
</div>

{% else %}
<div class="dishesh" style="padding-top: 10px;">
    {% for item in items %}
<div class="dish-items">
<a href="/user/restaurantmenu/?pk={{item.id}}">
    <center><div class="image"><img src="{{item.dish_set.all.first.photo.url}}" height="150px" width="150px" alt="{{item.restaurant_name}}"></div></center>
    <div class="details">
        <center><div class="restau">{{item.restaurant_name}}</div></center>
    </div>
</a>
</div>
{% endfor %}
</div>

{% endif %}
{% endblock menu_1 %}

{% block navbar_1 %}
<div class="container-fluid p-0 nav-bar" style="background-color: rgba(51, 33, 29, .8); height: 100px;">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="{% url 'user:userhome' %}" class="navbar-brand px-lg-4 m-0">
            <h6 class="m-0 display-4 text-uppercase text-white">THE FOOD BAG</h6>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse"
            data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between"
            id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                <form id="form" action="/user/" method="post">
                    {% csrf_token %} 
                    <input type="search" id="query" name="query" placeholder="Search Here">
                    <button type="submit" class="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></button>
                  </form>
                <a href="{% url 'user:userhome' %}" class="nav-item nav-link
                    active">Home</a>
                <!-- <a href="{% url 'about' %}" class="nav-item nav-link">About</a> -->
                <!-- <a href="{% url 'service' %}" class="nav-item nav-link">Service</a> -->
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                        data-toggle="dropdown">Restaurants</a>
                    <div class="dropdown-menu text-capitalize">
                        {% for r in items %}
                        <a href="{% url 'user:restaurant:home' %}"
                            class="dropdown-item">{{r}}</a>
                        {% endfor %}
                    </div>
                </div> -->
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                        data-toggle="dropdown">Swiggy Business</a>
                    <div class="dropdown-menu text-capitalize">
                        <a href="/user/restaurant/" class="dropdown-item">Register
                            Restaurant</a>
                        <a href="/user/deliveryperson/" class="dropdown-item">Delivery
                            Person</a>
                    </div>
                </div> -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                        data-toggle="dropdown">{{user.first_name}}</a>
                    <div class="dropdown-menu text-capitalize">
                        <a href="{% url 'user:edit-profile' %}"
                            class="dropdown-item">Edit Profile</a>
                        <a href="{% url 'user:cart' %}" class="dropdown-item"><img src="{% static 'img/cart.png' %}" alt="cart" height="25px" width="25px"> Cart</a>
                        <a href="" class="dropdown-item">My
                            Orders</a>
                        <a href="" class="dropdown-item">My
                            offers</a>
                        <a href="{% url 'user:address' %}" class="dropdown-item">Add
                            Address</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>

                    </div>
                </div>
                <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
            </div>
        </div>
    </nav>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user}} -->
</div>

{% endblock navbar_1 %}